* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.squares-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 1rem solid green;
}