* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #242424;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.squares-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    /* border: 1rem solid green; */
}

button {
    width: 8rem;
    height: 4rem;
    font-size: 18px;
    border-radius: .5rem;
    border: none;
    margin: 0 1rem;
    transition: scale .2s ease-in-out;
}

button:hover {
    scale: 1.1
}