* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #242424;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    color: #c4c4c4;
    text-align: center;
    font-size: 3rem;
}

.middle-container {
    display: flex;
    gap: 2rem;
}

.squares-container {
    box-sizing: content-box;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 8px solid red;
    border-radius: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 8rem;
    height: 4rem;
    font-size: 18px;
    border-radius: .5rem;
    border: none;
    margin: 0 1rem;
    transition: scale .2s ease-in-out;
    border: 2px solid #cccccc;
}

button:hover {
    scale: 1.05;
    border: 4px solid #eeeeee;
}

.black-squares-button {
    background-color: black;
    color: #cccccc;
}

.rainbow-squares-button {
    background-image: 
    linear-gradient(red, orange, yellow, green,
    blue, indigo, violet);
    color: #222222;
    font-weight: bold;
    text-shadow: 2px 2px 3px white;
}

.greyscale-squares-button {
    background: #aaaaaa;
}